#footer{
    background-color: rgb(14,16,18);
    display: flex;
    justify-content: center;
    color: aliceblue;
    padding-top: 5rem;
    padding-left: 7rem;
    padding-right: 7rem;
    position:relative;
   
}

#footer h4{

    margin: 0;
    align-self: center;
  
}