
body{
    font-family: 'Ubuntu', sans-serif;
}

h1 {

    text-align: center;
    font-size: 4rem;
    color: aliceblue;
    margin-top: 0.5rem;
}

input,
textarea {

    border-radius: 30px;
    background: none;
    display: block;
    color: aliceblue;
    border: 1px solid rgb(255, 255, 255);
    margin-bottom: 10px;
    padding: 0.7rem 1rem;
    width: 80%;
    margin-right: 0;
}

input:active
{

    border: 1px solid rgb(255, 255, 255);
    outline: none;

}

#inser-form{

    display: flex;
    justify-content: space-between;
    background-color: rgb(23,28,31);
    width: 80%;
    gap: 15rem;
    border-radius: 15px;
    margin: 2rem auto;
    padding: 1.8rem 4rem;
    color: aliceblue;
}

input,
textarea,label,button{

    font-family: inherit;
    font-size: 1rem;
}

#form{

    width: 100%;
}

label h3{

    margin: 0.7rem;
}

#form-head{

    width: 50%;
    margin-top: 6rem;
}

#form-head h4{

    background-color: rgb(47,192,120);
    width: fit-content;
    padding: 0.4rem;
    border-radius: 5px;
}

button{

    margin-right: 3rem;
    border-radius: 30px;
    background: none;
    border: 1px solid rgb(255, 255, 255);
    padding: 0.7rem 1rem;
    color: aliceblue;
    margin-top: 10px;
}

button:hover{

    color: rgb(0, 122, 252);
    border: 1px solid rgb(0, 122, 252);
    background-color: rgb(0, 122, 252,0.1);
    cursor: pointer;
    

}

button h3{

    margin: 0;
    ;
}
