body{
    font-family: 'Ubuntu', sans-serif;
    
}

h1 {

    text-align: center;
    font-size: 4rem;
    color: aliceblue;
    margin-top: 0.5rem;
}

#post-pane{

    background-color: rgb(23,28,31);
    color: aliceblue;
    width: 70%;
    border-radius: 15px;
    padding: 1.2rem 5rem;
    margin: 3rem auto;
}

#post-pane h2{

    font-size: 3rem;
}

.time{

    color: rgb(137, 137, 137);
}

#post-pane h3{

    margin-top: 3rem;
}
