<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('extra/meta-data') %>

        <link rel="stylesheet" href="/style/main.css">
        <link rel="stylesheet" href="/style/404.css">
        <link rel="stylesheet" href="/style/footer.css">
        <title>404</title>
</head>

<body>

    <%- include('extra/main-pane') %>

        <h1>error.</h1>

        <div id="post-pane">
            <h2>Page Not Found!</h2>

            <hr>
            <h3>Make sure you enter valid URL</h3>

        </div>

        <%- include('extra/footer') %>


</body>

</html>