<!DOCTYPE html>
<html lang="en">

<head>
   
    <%- include('extra/meta-data') %>

    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/content.css">
    <link rel="stylesheet" href="/style/footer.css">
    <title>Blog</title>
</head>

<body>

    <%- include('extra/main-pane') %>

<div id="main-content">

<h1>Create.edit.Post.</h1>
<h2>you can create and post your post in few seconds</h2>
<h3><a href="/create-post">Start your first post</a></h3>

</div>

<%- include('extra/footer') %>

</body>

</html>