<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('extra/meta-data') %>
        <link rel="stylesheet" href="/style/main.css">
        <link rel="stylesheet" href="/style/success.css">
        <link rel="stylesheet" href="/style/footer.css">
        <title>Successful!</title>
</head>

<body>

    <%- include('extra/main-pane') %>

        <h1>successfully.</h1>


        <div id="inser-form">

            <div id="form-head">
                <h4>SUBMITTED</h4>
                <img src="/image/6076f540d539fa8c97126f0b_straigtaway.svg" alt="image">
                <h2>Hoorayy.. You Submitted new Post. Keep it Up.</h2>
            </div>
            <div id="image-suc">
            <img src="/image/checked.png" alt="image">
            </div>
        </div>

        <%- include('extra/footer') %>

</body>

</html>

