<div class="main-pane">
    <h1><a href="/blog-home">blog</a></h1>

    <div class="list">
        <ul>
            <li>
                <h4><a href="/all-post">All post</a></h4>
            </li>
            <li>
                <h4><a href="/create-post">Create Post</a></h4>
            </li></a>
        </ul>
    </div>
</div>